<div class="user__profile">
  <label class="user__avatar"><img class="user__img actor-avatar" data-src-default="/images/img-avatar-default.png" src="<%= @actor.image.attached? ? url_for(@actor.image) : '/images/img-avatar-default.png' %>">
    <div class="user__edit-avatar"><i class="icon-fonts icon-fonts--camera"></i>
    </div>
    <%= form.file_field :image, class: "user__upload actor-avatar-input" %>
  </label>
  <button type="button" class="button button--blue button--small mt-2 delete-avatar-btn">
    <i class="icon-fonts icon-fonts--edit-18 fa fa-trash"></i>Remove avatar
  </button>
</div>
