<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project">
        <h2 class="project__title">Create new actor</h2>
        <%= render 'form', back_to_link: actors_path %>
      </div>
    </div>
  </div>
</div>
