<%= form_with model: [@movie, @comment], local: true, class: "form-comment my-4" do |form| %>
    <div class="form-group">
        <%= form.label :content, "Comment" %>
        <%= form.text_area :content, class: "form-control", rows: "3" %>
        <%= form.hidden_field :comment_id, class: "comment_id" %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
