// ======================================================
// Pages :: Auth SP
// ======================================================

.auth {
  background-color: $blue;
  width: 100%;

  &__inner {
    min-height: 100vh;
    padding: 40px 0 0;
    position: relative;
  }

  &__bg {
    left: 0;
    position: absolute;
    right: 0;
    top: -40px;
    width: 100%;
    z-index: 1;
    height: 100%;
  }

  &__content {
    padding: 45px 37px 100px;
    position: relative;
    z-index: 9;

    &--signin {
      padding-bottom: 70px;
    }
  }

  &__form {
    margin-top: 35px;
  }

  &__logo {
    &-link {
      display: inline-block;
    }
  }

  &__title {
    color: $white;
    font-size: $font-size-large + 2;
    font-weight: $font-weight-bold;
    margin-bottom: 15px;
    word-break: break-word;
  }

  &__sub-title {
    color: $slategray;
    font-size: $font-size-base;
    position: relative;

    &:after {
      background: $blue-lighter;
      content: '';
      height: 1px;
      position: absolute;
      top: 8px;
      width: 100%;
    }

    span {
      @include abs-center-hoz;
      background: $blue;
      padding: 0 15px;
      white-space: nowrap;
      z-index: 1;
    }
  }

  &__des {
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    margin-bottom: 10px;
    word-break: break-word;

    &:first-child {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 25px;
  }

  &__confirm {
    color: $green;
    font-size: $font-size-small;
    word-break: break-word;
  }

  &__notice-service {
    background: $blue-medium-3;

    &-link {
      align-items: center;
      color: $white;
      display: flex;
      justify-content: space-between;
      padding: 25px;

      &:hover {
        color: $white;
      }
    }

    &-icon-left {
      @include square(36px);
      align-items: center;
      background: $white;
      border-radius: $border-radius-medium + 2;
      color: $blue-medium;
      display: inline-flex;
      font-size: $font-size-large + 1;
      justify-content: center;
      margin-right: 25px;
    }

    &-text {
      font-weight: $font-weight-medium;
      letter-spacing: 2px;
    }

    &-icon-right {
      flex-shrink: 0;
      font-size: $font-size-large;
      margin-left: 25px;
    }
  }

  &__notice-detail {
    background: $blue-medium-3;

    &-link {
      border-top: 1px solid $blue-medium;
      color: $white;
      display: flex;
      padding: 20px 40px;

      &:hover {
        color: $white;
      }
    }

    &-icon-left {
      @include circle(32px);
      align-items: center;
      background: $blue-medium-4;
      color: $white;
      display: inline-flex;
      flex-shrink: 0;
      font-size: $font-size-large + 1;
      justify-content: center;
      margin-right: 15px;
    }

    &-title {
      font-weight: $font-weight-medium;
    }

    &-content {
      font-size: $font-size-small;
      line-height: 24px;
    }
  }

  &__notice-btn-wrap {
    padding: 40px 37px 37px;
  }

  &__notice-btn {
    background: $blue;
    border: 2px solid $green;
    color: $gray-normal;
  }

  &__notice {
    position: relative;
    z-index: 9;
  }

  &__footer {
    align-items: center;
    background: $blue-lighter;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
    line-height: 60px;
    padding: 0 37px;
    position: relative;
    z-index: 9;

    &-link {
      color: $white;
    }
  }

  &__icon {
    color: $white;
    margin-bottom: 32px;

    .icon-fonts {
      font-size: $font-size-large * 3;
    }
  }

  &__link {
    color: $green;
    font-size: $font-size-small;
  }

  &__terms {
    color: $white;
    font-size: $font-size-small;
  }
}
