// ======================================================
// Pages :: Edit User PC
// ======================================================

.modal-edit {
  .modal-header {
    border-bottom: 0;
    padding: 43px 82px 0;
  }

  .modal-body {
    padding: 0 82px;
  }

  .modal-footer {
    padding: 0 82px 43px;
  }

  .modal {
    &__close {
      background: none;
      border: 0;
      color: $gray-normal;
      cursor: pointer;
      font-size: $font-size-extra-small * 5;
      padding: 0;
      position: absolute;
      right: 6px;
      top: 6px;
      transition: .3s ease-in-out;
      z-index: 10;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__btn {
    margin-top: 12px;
  }
}

.user-edit {
  align-items: center;
  display: flex;
  flex-direction: column;

  .user {
    &__avatar {
      @include size(80px, 80px);
      border-width: 4px;
      margin-bottom: 35px;
      margin-top: 0;
    }

    &__edit-avatar {
      bottom: 5px;
    }

    &__link {
      font-size: $font-size-medium;
      line-height: 24px;
      margin-bottom: 33px;
    }
  }

  .custom-selectbox .drop-select {
    &__label {
      font-weight: $font-weight-base;
    }
  }
}
