// ======================================================
// Pages :: Home PC
// ======================================================

.avatar-item {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;

  &__img {
    width: 100%;
    height: 100%;
  }
}