// ======================================================
// Pages :: Home SP
// ======================================================

.home-page {
  background: $white;
  text-align: center;
  width: 100%;

  &__top {
    margin-bottom: 4px;
    padding: 0 20px 45px;
    border-bottom: 4px solid $white-dark;
  }

  &__title {
    color: $blue-medium;
    letter-spacing: .14em;
    background: url('../images/logo-kanzi.png') no-repeat center center;
    margin: 0 auto;

    @include size(152px, 49px);
  }

  &__des {
    font-size: $font-size-medium;
    letter-spacing: 5px;
    line-height: 24px;
    padding: 2px 0 40px;
    color: $gray-medium;
  }

  &__bottom {
    padding: 40px 20px 22px;
  }

  &__sub-title {
    font-size: $font-size-large;
    color: $blue-light;
    line-height: 24px;
    font-weight: $font-weight-bold;
    margin-bottom: 12px;
  }

  &__sub-des {
    font-size: $font-size-base;
    padding: 0 0 35px;
    color: $gray-medium;
  }
}

.box-item {
  background: $white;
  box-shadow: 0 0 10px $box-shadow-medium;
  border-radius: $border-radius-base + 1;
  margin-bottom: 20px;
  text-align: left;

  img {
    border-radius: $border-radius-base $border-radius-base 0 0;

    @include size(100%, auto);
  }

  &__detail {
    padding: 35px 8px 0;
  }

  &__title {
    color: $blue-light;
    font-size: $font-size-large;
    display: flex;
    align-items: center;
    line-height: 28px;
    font-weight: $font-weight-bold;
  }

  &__des {
    color: $gray-medium;
    line-height: 24px;
    padding: 12px 0 20px;
  }
}
