// ======================================================
// Pages :: Project PC
// ======================================================

.project {
  padding: 70px 0 100px;
  width: 100%;

  &--detail {
    padding: 70px 0;
  }

  &--no-item {
    padding: 70px 0 40px;
  }

  &__title {
    color: $blue-light;
    font-size: $font-size-large + 8;
    font-weight: $font-weight-medium;
    letter-spacing: 5px;
  }

  &__des {
    margin-top: 10px;
    color: $gray-medium;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
  }

  &__content {
    padding: 40px 40px 30px;
    background: $white;
    box-shadow: 0 0 10px $box-shadow-base;
    border-radius: $border-radius-normal;
    position: relative;
    margin: 40px 0;

    &:before {
      content: '';
      @include position(absolute, -10px, -10px, auto, auto);
      @include size(50px, 40px);
    }

    &:after {
      content: '';
      @include position(absolute, -15px, -6px, auto, auto);
      @include size(41px, 40px);
      background: url('#{$path-image}/icon-triagle.png');
      background-color: $white;
      border-radius: 0 0 0 $border-radius-normal;
    }
  }

  &__map {
    padding-right: 5px;
  }

  &__img-map {
    @include size(100%, 286px);
    position: relative;
    box-shadow: 0 5px 5px $box-shadow-medium;

    &:before {
      @include abs-center-hoz;
      content: '';
      width: calc(100% - 40px);
      height: 20px;
      background: $white-dark;
      opacity: .7;
      bottom: -20px;
      z-index: -1;
      border-radius: 0 0 $border-radius-normal $border-radius-normal;
    }

    .map {
      @include size(100%, 100%);
      position: relative;
      box-shadow: 0 5px 5px $box-shadow-medium;
      border-radius: $border-radius-normal;

      &:before {
        content: '';
        @include size(100%, 100%);
        @include position(absolute, auto, auto, 0, 0);
        background: $black;
        opacity: .5;
        z-index: 8;
        border-radius: $border-radius-normal;
      }

      &.active {
        &:before {
          position: static;
        }
      }
    }

    iframe {
      @include size(100%, 100%);
      border-radius: $border-radius-normal;
    }
  }

  &__title-map {
    color: $gray-light-3;
    font-weight: $font-weight-bold;
    margin: 46px 0 0;

    &.active {
      color: $blue-light;
    }
  }

  &__title-seemore {
    color: $blue-lighter;
    font-weight: $font-weight-bold;
    margin: 46px 0 0;
  }

  &__sub-title-map {
    color: $gray-medium;
    font-size: $font-size-small;
    margin-top: 6px;
    font-weight: $font-weight-base;
  }

  &__souvenir {
    border-width: 3px 0;
    margin-bottom: 16px;
  }

  &__detail {
    padding-left: 5px;
  }

  &__sub-title,
  &__textarea-title {
    font-size: $font-size-medium;
    color: $blue-light;
    margin-bottom: 10px;
    font-weight: $font-weight-bold;
  }

  &__souvenir-choice {
    color: $gray-medium;
    display: flex;
    align-items: center;

    .icon-fonts {
      font-size: $font-size-large;
      margin-right: 15px;
      line-height: 21px;
    }
  }

  &__list-souvenir {
    margin-top: 25px;
    border-top: 1px solid $white-dark;
    max-height: 242px;
    overflow: hidden;
  }

  &__list-souvenir-item {
    padding: 18px 5px 14px;
    border-bottom: 1px solid $white-dark;

    .icon-fonts {
      color: $orange;
      font-size: $font-size-large;
      margin-right: 18px;
    }

    .scrapbook {
      color: $blue-light;
      font-weight: $font-weight-bold;
      flex: 1;

      &__des {
        @include text-truncate;
        width: 100%;
        font-weight: $font-weight-base;
        margin-top: 5px;
      }
    }

    .num {
      color: $gray-medium;
      font-size: $font-size-small;
      font-weight: $font-weight-base;
    }

    .person {
      color: $gray-medium;
      font-weight: $font-weight-base;
    }
  }
}

.list-detail {
  padding: 25px 0 30px;

  &__item {
    width: calc(100% / 3);
    text-align: center;

    &.active {
      .list-detail__icon {
        color: $blue-medium;
      }
    }
  }

  &__title {
    color: $blue-light;
    font-weight: $font-weight-bold;
    margin: 0 0 5px;
    line-height: 21px;
  }

  &__sub-title {
    color: $gray-medium;
    font-size: $font-size-small;
  }

  &__icon {
    color: $gray-small;
    font-size: $font-size-large + 15;
    height: 33px;
    display: flex;
    align-items: center;
    margin-right: 13px;
  }
}

.container {
  min-width: 1170px;
}
