// ======================================================
// Pages :: Setting
// ======================================================

.setting {
  padding: 10px 20px;
  width: 100%;

  &__box {
    padding: 25px 0 55px;
  }

  &__des {
    font-size: $font-size-small;
    color: $gray-medium;
  }

  &__switch {
    padding-bottom: 12px;
    border-bottom: 1px solid $white-dark;
  }
}
