<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project">
        <h2 class="project__title">Edit movie</h2>
        <%= render 'form', back_to_link: movie_path(@movie) %>
      </div>
    </div>
  </div>
</div>
