<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="project project--detail">
        <div class="row">
          <div class="col-12">
            <h2 class="project__title">〇〇商事取締役と会食  <i class="fa fa-camera-retro"></i></h2>
            <div class="tab">
              <ul class="nav-tabs nav">
                <li class="nav-item"><a class="nav-link js-nav-link" data-toggle="tab" href="#project-overview"><i class="icon-fonts icon-fonts--event"></i>プロジェクト概要</a></li>
                <li class="nav-item"><a class="nav-link js-nav-link active" data-toggle="tab" href="#todo-list"><i class="icon-fonts icon-fonts--todo"></i>ToDoリスト</a></li>
              </ul>
              <div class="tab-content">
                <div class="project__tabs tab-pane" id="project-overview"></div>
                <div class="tab-pane active" id="todo-list">
                  <div class="todo">
                    <ul class="todo__list js-sortable ui-sortable">
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 975.266px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox1">
                            <input class="input-checkbox" type="checkbox" name="checkbox1" id="checkbox1" checked="checked"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#" data-toggle="modal" data-target="#TodoDateTime">開催日時を決める</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__day">2019/10/05（金)</span><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 1078px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox2">
                            <input class="input-checkbox" type="checkbox" name="checkbox2" id="checkbox2"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#" data-toggle="modal" data-target="#todo-attendees">参加者の管理</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 975.266px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox3">
                            <input class="input-checkbox" type="checkbox" name="checkbox3" id="checkbox3" checked="checked"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#" data-toggle="modal" data-target="#todoChosse">お店を決める</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__day">2019/10/05（金)</span><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 975.266px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox5">
                            <input class="input-checkbox" type="checkbox" name="checkbox5" id="checkbox5" checked="checked"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#" data-toggle="modal" data-target="#todoInvi">案内状を送る</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__day">2019/10/05（金)</span><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 1078px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox7">
                            <input class="input-checkbox" type="checkbox" name="checkbox7" id="checkbox7" checked="checked"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#" data-toggle="modal" data-target="#todoReceipt">領収書情報の確認</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 975.266px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox8">
                            <input class="input-checkbox" type="checkbox" name="checkbox8" id="checkbox8" checked="checked"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#">お土産の用意</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__day">2019/10/05（金)</span><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                      <li class="todo__item d-flex align-items-center justify-content-between js-todo-list-item">
                        <div class="d-flex align-items-center js-todo-title" style="max-width: 975.266px;">
                          <label class="checkbox d-flex align-items-center" for="checkbox9">
                            <input class="input-checkbox" type="checkbox" name="checkbox9" id="checkbox9"><span class="checkmark"></span><span class="title"></span>
                          </label><a class="title" href="#">開催前の連絡</a>
                        </div>
                        <div class="todo__box-item js-todo-item d-flex align-items-center justify-content-end"><span class="todo__day">2019/10/05（金)</span><span class="todo__sort js-sort ui-sortable-handle"><i class="icon-fonts icon-fonts--icon-sort"></i></span>
                        </div>
                      </li>
                    </ul>
                    <div class="todo__more text-center"><a href="#"><i class="icon-fonts icon-fonts--add-30"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
