<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">ダッシュボード</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">〇〇商事取締役と会食</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>