<header class="header-pc">
  <div class="header-pc__nav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-pc__menu d-flex justify-content-between">
            <div class="menu d-flex align-items-center">
              <a class="menu__logo" href="#">
                映画館経営
              </a>
              <ul class="menu__list">
                <li class="menu__item js-menu-item active"><%= link_to 'Movies', movies_path %></li>
                <li class="menu__item js-menu-item"><%= link_to 'Actors', actors_path %></li>
              </ul>
            </div>
            <div class="menu-user"><a class="menu-user__avatar d-flex align-items-center justify-content-between" href="#"><img class="menu-user__img" src="../images/img-avatar.png" alt="">
                <div class="menu-user__name">Toan</div>
                <div class="menu-user__icon"><i class="fa fa-caret-down"></i>
                </div>
              </a>
              <ul class="menu-user__list">
                <li class="menu-user__item active"><a href="#">ダッシュボード</a></li>
                <li class="menu-user__item"><a href="#">案内状管理 </a></li>
                <li class="menu-user__item"><a href="#">リマインド設定 </a></li>
                <li class="menu-user__item"><a href="#">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>