// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$black: #000;
$white: #fff;
$white-dark: #f7f7f7;
$white-dark-1: #fdfdfd;
$blue: #16336d;
$blue-light: #2b3858;
$blue-lighter: #4a6db5;
$blue-lightest: #879dca;
$blue-dark: #132e66;
$gray: #bec0ce;
$gray-lighter: #e5e5e5;
$gray-lightest: #f6f6f6;
$gray-dark: #656c80;
$gray-light-1: #b3b9c4;
$gray-light-2: #e7ebf0;
$orange: #fac80a;
$green: #3fdcff;
$blue-medium: #14326e;
$blue-medium-2: #2a4274;
$blue-medium-3: #274279;
$blue-medium-4: #385084;
$gray-medium: #646e82;
$red: #de5234;
$gray-small: #bebec8;
$blue-large: #0f2655;
$silver: #eaeaea;
$royalblue: #4a6db5;
$snow: #f0eff5;
$gainsboro: #d9d9d9;
$gray-normal: #c4c4c4;
$slategray: #fafafa;
$gray-light-3: #9f9fa9;
$gray-light-4: #d5d5d5;

//border
$border-setting: rgba(255, 255, 255, .1);

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : Arial, Helvetica, Tahoma, Calibri, Verdana, sans-serif;
$font-family-icons: 'sans-serif';
// >> Font-size
$font-size-extra-small: 10px;
$font-size-small      : 12px;
$font-size-base       : 14px;
$font-size-medium     : 16px;
$font-size-large      : 18px;
// >> Font-weight
$font-weight-light    : 300;
$font-weight-base     : 400;
$font-weight-regular  : 500;
$font-weight-medium   : 600;
$font-weight-bold     : 700;

// Borders
$border-radius-small   : 2px;
$border-radius-base    : 4px;
$border-radius-normal  : 5px;
$border-radius-regular : 6px;
$border-radius-medium  : 8px;
$border-radius-large   : 24px;

//box-shadow
$box-shadow-base: rgba(0, 0, 0, .05);
$box-shadow-normal: rgba(0, 0, 0, .07);
$box-shadow-medium: rgba(0, 0, 0, .1);
$box-shadow-large: rgba(60, 44, 44, .08);

// z-index
$z-indexes: (
  base   : 1,
  under  : -1,
  modal  : 1001,
  sidebar: 1000
);
