// ======================================================
// Components :: Alert PC
// ======================================================

.alert {
  @include position(fixed, 40px, 30px, auto, auto);
  background: $orange;
  border-radius: $border-radius-normal;
  color: $blue-light;
  padding: 2px 0 2px 15px;
  z-index: 1051;

  &__close {
    color: $gray-medium;
    cursor: pointer;
    font-size: $font-size-base * 3;
    line-height: 1;
  }

  &__icon {
    @include size(100%, 100%);
    display: block;
    position: relative;

    &:after {
      @include position(absolute, 6px, auto, auto, 9px);
      @include size(6px, 10px);
      border: 1px solid $white;
      border-width: 0 3px 3px 0;
      content: '';
      transform: rotate(45deg);
    }
  }

  &__circle {
    @include circle(24px);
    background: $blue-light;
    margin-right: 10px;
    position: relative;

    &:after {
      @include position(absolute, auto, auto, 0, -1px);
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 5px solid $blue-light;
      content: '';
      transform: rotate(45deg);
    }
  }
}
