// ======================================================
// Components :: Alert SP
// ======================================================

.alert {
  @include position(fixed, 20px, 20px, auto, 20px);
  background: $white-dark;
  border-radius: $border-radius-normal;
  padding: 2px 0 2px 15px;
  color: $gray-medium;
  z-index: 999;

  &__close {
    font-size: $font-size-base * 3;
    line-height: 1;
    cursor: pointer;
    color: $gray-small;
  }

  &__icon {
    position: relative;
    @include size(100%, 100%);
    display: block;

    &:after {
      content: '';
      @include position(absolute, 6px, auto, auto, 9px);
      @include size(6px, 10px);
      border: 1px solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &__circle {
    background: $orange;
    @include circle(24px);
    margin-right: 10px;
    position: relative;

    &:after {
      @include position(absolute, auto, auto, 0, -1px);
      content: '';
      border-top: 5px solid $orange;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transform: rotate(45deg);
    }
  }
}
