// ======================================================
// Components :: Buttons SP
// ======================================================

.button {
  border-radius: $border-radius-base + 1;
  color: $blue-light;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  height: 45px;
  padding: 12px 20px;
  text-align: center;
  transition: all .4s ease;

  &:focus {
    box-shadow: none;
  }

  // Modifier: Type
  @include m('primary') {
    background-color: $white;
    border: 1px solid $blue-lighter;
    color: $blue-light;

    &:hover {
      background-color: $blue-light;
      color: $white;
    }
  }

  // Modifier: Size
  @include m('full') {
    display: block;
    width: 100%;
  }

  @include m('large') {
    min-width: 150px;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include m('full-large') {
    display: block;
    width: 100%;
    height: 60px;
  }

  @include m('blue') {
    background: $blue-medium;
    color: $white;
    box-shadow: 0 5px 10px $box-shadow-base;
    border-radius: $border-radius-base + 1px;
  }

  .icon-fonts {
    padding-right: 8px;
    font-size: $font-size-large + 12;
    vertical-align: middle;
  }

  &--disabled {
    background: rgba($white, .3);
    color: $blue-light;
  }

  &--medium {
    height: 50px;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
  }

  &--bg-white {
    background: $white;
    margin-right: 10px;
    border: 2px solid $blue-medium;
  }

  &--red {
    border: 2px solid $red;
    color: $red;
    letter-spacing: 2px;
    border-radius: $border-radius-normal;
    padding: 11px 20px;
    line-height: 20px;
    background: $white;

    .icon-fonts {
      font-size: $font-size-large + 2;
      line-height: 1;
    }
  }

  &--bd-blue {
    color: $royalblue;
    font-weight: $font-weight-base;
    border: 1px solid $royalblue;
    @include size(177px, 35px);
    padding: 7px 20px;
    border-radius: 30px;
    line-height: 21px;
    background: $white;
  }

  &--fw-base {
    font-weight: $font-weight-base;

    .icon-fonts {
      font-size: $font-size-large + 8;

      &--icon-download {
        font-size: $font-size-large + 3;
      }
    }
  }
}
