// ======================================================
// Components :: Buttons PC
// ======================================================

.button {
  border-radius: $border-radius-base + 1;
  color: $blue-light;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  height: 45px;
  padding: 12px 20px;
  text-align: center;
  transition: all .4s ease;

  &:focus {
    box-shadow: none;
  }

  // Modifier: Type
  @include m('primary') {
    background-color: $white;
    border: 1px solid $blue-lighter;
    color: $blue-light;

    &:hover {
      background-color: $blue-light;
      color: $white;
    }
  }

  // Modifier: Size
  @include m('full') {
    display: block;
    width: 100%;
  }

  @include m('large') {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    min-width: 213px;
    padding: 10px 20px;
  }

  @include m('full-large') {
    display: block;
    @include size(100%, 60px);
    letter-spacing: 2px;
  }

  @include m('blue') {
    background: $blue-medium;
    border-radius: $border-radius-base + 1px;
    box-shadow: 0 5px 10px $box-shadow-base;
    color: $white;
    transition: .3s ease-out;

    &:hover {
      background-color: $blue-light;
      color: $white;
      transition: .3s ease-out;
    }
  }

  .icon-fonts {
    font-size: $font-size-large + 12;
    padding-right: 8px;
    vertical-align: middle;

    &--edit-18,
    &--bin-24 {
      font-size: $font-size-large + 2;
    }
  }

  &--bg-blue {
    background: $blue-medium;
    border: 1px solid $blue-medium;
    color: $white;
    padding: 12px 30px 12px;
    width: 115px;
  }

  &--bg-white {
    background: $white;
    border: 2px solid $blue-medium;
    margin-right: 10px;
    transition: .3s ease-out;

    &:hover {
      background-color: $blue-medium;
      color: $white;
      transition: .3s ease-out;
    }
  }

  &--red {
    background: $white;
    border: 2px solid $red;
    color: $red;
    transition: .3s ease-in-out;

    &:hover {
      background: $red;
      color: $white;
      transition: .3s ease-in-out;
    }
  }

  &--base {
    font-weight: $font-weight-base;
  }

  &--mr-30 {
    margin-right: 30px;
  }

  &--medium {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    padding: 9px 20px;

    .icon-fonts {
      line-height: 0;
    }
  }

  &--bd-blue {
    color: $royalblue;
    font-weight: $font-weight-base;
    border: 1px solid $royalblue;
    @include size(177px, 35px);
    padding: 7px 20px;
    border-radius: 30px;
    line-height: 21px;
    background: $white;
    transition: .3s ease-out;

    &:hover {
      background-color: $royalblue;
      color: $white;
    }
  }
}
