// ======================================================
// Components :: Radio
// ======================================================

.radio {
  margin-bottom: 25px;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    @include size(0, 0);

    &:checked ~ label {
      &:after {
        @include circle(12px);
        @include abs-center-ver;
        left: 4px;
        content: '';
        background: $blue-medium;
      }
    }
  }

  &__label {
    color: $blue-light;
    font-size: $font-size-base;
    padding-left: 35px;
    position: relative;
    margin: 0;
    line-height: 20px;
    cursor: pointer;

    &:before {
      @include circle(20px);
      @include abs-center-ver;
      left: 0;
      content: '';
      background: $white;
      border: 1px solid $blue-medium;
    }
  }
}
