// ======================================================
// Components :: Table
// ======================================================


.table-condensed {
  width: 100%;

  td,
  th {
    text-align: center;
    font-size: $font-size-base;
  }

  thead {
    tr {
      th {
        color: $gray-medium;
        padding: 23px 0;
        font-weight: $font-weight-base;
        width: calc(100% / 7);
      }

      &:first-child {
        background: $blue-medium;

        th {
          color: $white;
          font-weight: $font-weight-bold;
        }
      }

      .prev,
      .next {
        border-radius: 0 10px 0 0;
        border: 0;
        text-align: right;
        width: 32px;
        position: relative;
      }

      .prev {
        border-radius: 10px 0 0 0;
        text-align: left;
      }
    }

    .glyphicon-chevron-left {
      &:before {
        @include abs-center-ver;
        content: '\e95f';
        font-family: $font-family-icons;
        font-size: $font-size-base;
        left: 16px;
      }
    }

    .glyphicon-chevron-right {
      &:before {
        @include abs-center-ver;
        content: '\e95e';
        font-family: $font-family-icons;
        font-size: $font-size-base;
        right: 16px;
      }
    }
  }

  tbody {
    td {
      padding: 10px 0;
      color: $gray-medium;
      cursor: pointer;
      width: calc(100% / 7);
    }

    .active {
      background: $blue-medium;
      color: $white;
      @include circle(40px);
      border: 6px solid $snow;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .today {
      position: relative;

      &:before {
        @include abs-center-hoz;
        top: 0;
        content: '';
        background: $blue-medium;
        @include circle(6px);
      }
    }
  }

  tr {
    &:last-child {
      td {
        padding-bottom: 30px;
      }
    }
  }

  .month,
  .year {
    display: inline-block;
    width: calc(100% / 4);
  }

  .decade {
    display: inline-block;
    width: calc(100% / 3);
  }

  .glyphicon-trash,
  .glyphicon-remove {
    position: relative;
    display: block;

    &:before {
      @include abs-center-ver;
      content: '\e905';
      font-family: $font-family-icons;
      font-size: $font-size-base + 4;
      right: 0;
      color: $gray-medium;
    }
  }

  .glyphicon-remove {
    &:before {
      content: '\e906';
      font-size: $font-size-large + 15;
      left: 0;
      right: auto;
    }
  }
}
